html{
    background-color: #FEFAE0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #f3ca4c;
    transition: 0.5s;
}

Header{
    height: auto;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 85px;
    transition: 0.5s;
    background-color: black;

}

.logo{
    height: 100%;
}

.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.menu-item{
   margin: 0 1rem;
   font-weight: 600;
   cursor: pointer;
   transition: 0.5s;
   color: white; 
}

.cta{
    padding: 10px 24px;
    border-radius: 30px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.cta:hover{
    color: white;
    background-color: blue;
}

.menu-item:hover{
    color: #f3ca4c;
}