    <nav id="nav">
        <a href="/HTML/Index.html" class="logo">
           <img src="/CSS//Estilo Sole logo.png" alt="" class="logo">
        </a>
         <ul class="main-menu">
           <li class="menu-item"><a href="/HTML/Index.html">Inicio</a></li>
           <li class="menu-item"><a href="/HTML/hombre.html">Hombre</a></li>
           <li class="menu-item"><a href="/HTML/mujer.html">Mujer</a></li>
           <li class="menu-item"><a href="/HTML/descuento.html">En descuento</a></li>
           <li class="menu-item"><a href="/HTML/contactos.html">Contactanos</a></li>
         </ul>
       </nav>
       <Script src="JS/code.js"></Script>
